class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :searchjoy_conversions do |t|
      t.references :search
      t.references :convertable, polymorphic: true, index: {name: "index_searchjoy_conversions_on_convertable"}
      t.datetime :created_at
    end
  end
end
