<h1>Live Stream</h1>

<table id="stream"></table>

<script>
  function load(element, path) {
    var request = new XMLHttpRequest();
    request.open("GET", path, true);
    request.onload = function() {
      if (request.status >= 200 && request.status < 400) {
        var resp = request.responseText;
        element.innerHTML = resp;
      }
    };
    request.send();
  }

  function fetchRecentSearches() {
    load(document.getElementById("stream"), <%= raw json_escape(searches_recent_path.to_json) %>)
    setTimeout(fetchRecentSearches, 5 * 1000);
  }
  fetchRecentSearches();
</script>
