<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Searches</th>
      <th>Conversions</th>
      <th>Conversion Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search["query"] %></td>
        <td><%= search["searches_count"] %></td>
        <td><%= search["conversions_count"] %></td>
        <td><%= number_to_percentage search["conversion_rate"].to_f, precision: 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
