<div style="text-align: center; padding-top: 40px; padding-bottom: 40px;">
  <h1>No data to show</h1>
  <p>Be sure tracking is installed</p>
  <p><%= link_to "View docs", "https://github.com/ankane/intel", target: "_blank" %></p>
</div>
