<% if Intel::Search.count > 0 %>
  <ul id="stream"></ul>
<% else %>
  <p>No data</p>
  <pre>
    <code>
      Item.search "apple", track: true
    </code>
  </pre>
<% end %>

<script>
  function fetchRecentSearches() {
    $("#stream").load("<%= intel.searches_recent_path %>");
    setTimeout(fetchRecentSearches, 5 * 1000);
  }
  $( function() {
    fetchRecentSearches();
  });
</script>
