<h1>Live Stream</h1>

<table id="stream"></table>

<script>
  function fetchRecentSearches() {
    $("#stream").load("<%= intel.searches_recent_path %>");
    setTimeout(fetchRecentSearches, 5 * 1000);
  }
  $( function() {
    fetchRecentSearches();
  });
</script>
