name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.3
            gemfile: gemfiles/rails72.gemfile
            elasticsearch: 8
          - ruby: 3.2
            gemfile: Gemfile
            elasticsearch: 8
          - ruby: 3.1
            gemfile: gemfiles/rails70.gemfile
            elasticsearch: 8
          - ruby: 3.1
            gemfile: gemfiles/rails61.gemfile
            elasticsearch: 7
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: ankane/setup-elasticsearch@v1
        with:
          elasticsearch-version: ${{ matrix.elasticsearch }}
      - run: bundle exec rake test
